@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: "Inter", "system-ui";
}

.nav-active {
   text-shadow: 2px 1px 1px #da0000;
}

.text-shadow-desc {
   text-shadow: 1px 1px 4px #000000;
}

.text-shadow-title {
   text-shadow: 3px 3px 3px #da0000;
}

.movie-card:hover div > img.movie {
  transform: translateY(-4px) translateX(4px);
  transition: 0.5s;
}

.movie-card:hover div > img.movie-top {
  transform: translateY(-6px);
  transition: 0.5s;
}
